ExchangeRates.csv
dst-3.0_16_1_hh_database.csv
hh_database_preprocessed.csv
.ipynb_checkpoints/Project-1-checkpoint.ipynb
.ipynb_checkpoints/Project-1. Ноутбук-шаблон_20231205-checkpoint.ipynb
.ipynb_checkpoints/Untitled-checkpoint.ipynb
